body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

section {
    height: 100vh;
}

.flexible-container {
    display: flex;
    align-items: center;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    margin-top: 30px;
    width: 80%;
}

.link-button {
    text-decoration: none;
    font-weight: 700;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.right-padding {
    padding-right: 100px;
}

.experience-heading {
    text-align: center;
    margin-bottom: 100px;
}

.box {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px grey;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: center left;
}

.box-container {
    display: flex;
    height: 55vh;
    align-items: center;
}

.box h3 {
    color: orange
}

.box p {
    line-height: 35px;
}

.box:first-child {
    border-left: 7px solid tomato;
}

.box:last-child {
    border-left: 7px solid blue;
}